mapdiv :hover {
	fill:#000;
}

#NG-AB{
	fill:lime;
}
#NG-AD{
	fill:red
}
#NG-AK{
	fill:red
}
#NG-AN{
	fill:purple;
}
#NG-BA{
	fill:blue;
}
#NG-BE{
	fill:red;
}
#NG-BO{
	fill:yellow;
}
#NG-BY{
	fill:lime;
}
#NG-CR{
	fill:lightcoral;
}
#NG-DE{
	fill:yellow;
}
#NG-EB{
	fill:purple;
}
#NG-ED{
	fill:red;
}
#NG-EK{
	fill:yellow;
}
#NG-EN{
	fill:blue;
}
#NG-FC{
	fill:red;
}
#NG-GO{
	fill:lime;
}
#NG-IM{
	fill:red;
}
#NG-JI{
	fill:lightcoral;
}
#NG-KD{
	fill:yellow;
}
#NG-KE{
	fill:lime;
}
#NG-KN{
	fill:red;
}
#NG-KO{
	fill:lime;
}
#NG-KT{
	fill:purple;
}
#NG-KW{
	fill:red;
}
#NG-LA{
	fill:red;
}
#NG-NA{
	fill:lightcoral;
}
#NG-NI{
	fill:lightcoral;
}
#NG-OG{
	fill:yellow;
}
#NG-ON{
	fill:lightcoral;
}
#NG-OS{
	fill:blue;
}
#NG-OY{
	fill:lime;
}
#NG-PL{
	fill:purple;
}
#NG-RI{
	fill:blue;
}
#NG-SO{
	fill:purple;
}
#NG-TA{
	fill:yellow;
}
#NG-YO{
	fill:red;
}
#NG-ZA{
	fill:blue;
}